{% extends 'base.html' %}

{% block title %}
  <title>About Us</title>
{% endblock title %}

{% block contents %}
  <div class="container">
    <br>
    {% if task.manage == request.user %}
      <form method="POST">
         {% csrf_token %}
         <div class="row">
          <label class="col-lg-2"></label>
         <input type="input" class="col-lg-6" name ="task" placeholder = "{{task.task}}" value="{{task.task}}">
          <input type="hidden" name ="done" value="{{task.done}}">
         <button type="submit" class="btn btn-primary col-lg-2">Update Task</button>
         </div>
     </form>
    {% else %}
      <p>Access Restricted</p>
    {%endif%}  
  </div>
{% endblock contents %}
